<div class="modal fade login-modal" id="signup" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				<h3 class="modal-title">create an account</h3>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
      <div id="signup_messages">
      </div>
      <div class="modal-body">
        <%= render partial: '/users/signup_form' %>
      </div>
    </div>
  </div>
</div>
