$("#signup_messages").replaceWith("<div id='signup_messages'> <%= j render partial: 'flash_messages' %> </div>");
$("#signup_button").replaceWith("<div id='signup_button'> <%= j render partial: 'disabled_signup_button' %> </div>");
