$("#dashboard_menu").replaceWith("<div id='dashboard_menu'> <%= j render partial: '/dashboards/menu' %> </div>");
$("#dashboard_workspace").replaceWith("<div id='dashboard_workspace'> <%= j render partial: 'index' %> </div>");
